body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Mirza', cursive;
  font-size: 20px;
  font-weight: bold;
  background: rgb(169, 109, 73);
  color: rgb(52, 30, 18);
}

.ui {
  width: 500px;
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#levels {
  display: flex;
  flex-direction: row;
  background: rgb(204, 126, 83);
  border-radius: 10px;
  border: 10px ridge rgb(136, 79, 49);
  box-sizing: border-box;
  margin-top: 30px;
  height: 75px;
}

#levels * {
  margin: 5px;
  cursor: pointer;
  padding: 10px;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: auto;
  background: rgb(253, 236, 206);
  border-radius: 15px;
  border: 10px ridge rgb(136, 79, 49);
  box-sizing: border-box;
}

.piece {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

#board ul, .piece ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 50px;
}

#board ul li, .piece ul li {
  width: 50px;
  border: 2px inset #000;
  border-radius: 5px;
}

li.filled {
  transition: background-color 0.5s ease;
  background-color: #006400;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#timer::before {
  content: '⌛';
}

#timer {
  margin-top: 50px;
  font-size: 30px;
  margin-left: 140px;
}

.picked {
  box-shadow: 5px 5px 5px gold,
             -5px -5px 5px gold,
             -5px 5px 5px gold,
             5px -5px 5px gold;
}

button {
  color: rgb(52, 30, 18);
  background-color: rgb(246, 194, 59);
  border: 5px outset rgb(136, 79, 49);
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 10px;
  margin-top: 15px;
  box-sizing: border-box;
}

button:hover {
  background-color: rgb(228, 179, 50);
}

button:active {
  border: 5px inset rgb(136, 79, 49);
  background-color: rgb(208, 166, 53);
  transform: translateY(5px);
}

button:focus {
  outline: none;
}

.selected-level {
  background: rgb(228, 179, 50);
  border-radius: 10px;
}

#instruction {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  list-style: circle;
  top: 30vh;
  right: 10vw;
  background: rgba(255, 255, 255, 0.3);;
  padding: 20px;
  border-radius: 10px;
  padding-left: 50px;
}

#instruction > li {
  font-size: 25px;
  font-weight: bold;
}

.hidden {
  display: none !important;
}


#main, #mode {
  height: 50px;
  width: 100px;
  font-size: 25px;
  padding-top: 6px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 105px;
  align-items: center;
}

#rotate, #flip {
  margin: 0;
}

#flip {
  margin-left: 15px;
}

.btns > * {
  margin: 30px;
  width: 100px;
  margin-top: 70px;
  height: 40px;
}

#pieces {
  margin-right: 40px;
}

#copy {
  margin: 0;
  padding: 0 5px;
  font-size: medium;
  border: 0;
  display: inline;
  height: 20px;
}

#copy:active {
  transform: none;
}

#main:disabled {
  transform: none;
  background: #ccc;
  cursor: default;
}

.ready {
  border: 5px inset rgb(136, 79, 49);
  background-color: rgb(208, 166, 53);
}
