body {
  display: flex;
  flex-direction: row;
}

#board {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.piece {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

#board ul, .piece ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  list-style: none;
  height: 50px;
}

#board ul li, .piece ul li {
  width: 50px;
  border: 1px solid blue;
}

li.filled {
  background-color: green;
}

li.empty {
  border: 0px solid white;
}

.right {
  width: 40%;
}

#pieces {

}

.picked {
  background-color: gold;
}
